@import '../../../App.scss';

.Hiragana {
  font-size: 18px;
  animation: hiragana-start-effect 0.2s ease-in-out;

  h2 {
    margin-bottom: 20px;
  }


  .link {
    text-decoration: none;
    font-weight: bold;
    color: $main-blue;

    &:hover {
      color: $main-grey;
    }
  }

}

.more-info {
  text-decoration: underline !important;
}

.hiragana-reasons-list {
  margin: 90px 0px;

  ol {
    padding: 0;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 20px;
  }

  .list-title {
    font-weight: bold;
  }
}

table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

th{
  border: 1px black solid;
  padding: 10px 15px;
  background-color: $main-blue;
  color: $main-white;
}

td {
  border: 1px black solid;
  padding: 5px 15px;
  width: 350px;
}

.list-items-container:nth-child(odd) {
    background-color: $list-item-grey;
}

.add-button {
  border: none;
  font-size: 14px;
  background-color: $main-blue;
  color: white;
}

@keyframes hiragana-start-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 480px) {
  .Hiragana {
    font-size: 15px;
    padding: 0px 15px;
  }
  .vocabulary-container {
  }

  table {
    max-width: 100%;
  }

  th {
    padding: 3px 10px;
  }

  td {
    padding: 3px 10px;
    max-width: 100%;
  }
}