.daily-learning-container {
    margin: 20px;
    .level-selector {
      margin-bottom: 20px;
    }
    .table-daily-learning {
      margin-bottom: 20px;
    }
    .sentences {
      .sentence-item {
        margin-bottom: 15px;
        .translation {
          margin-top: 5px;
        }
      }
    }
  }