@import "../../App.scss";

.uebungen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uebungen-item {
  display: flex;
  align-items: center;
  height: 40px; /* Set a fixed height for each item */
}

.alphabet {
  margin-bottom: 5px; /* Add space between alphabet and form */
}

.form-result-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontal mittig zentrieren */
  margin-left: 10px; /* Add space between form input and result */
}

.result {
  margin-left: 10px; /* Add space between form input and result */
}

.uebungen-input {
  width: 100%;
  height: 26px;
}

.td-uebungen {
  height: 9px;
}

@media screen and (max-width: 480px) {
  .uebungen-container {
    .mb-3 {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
  }

  .tr-uebungen * {
    font-size: 13px;
  }
}

.play-pronunciation-button {
  background-color: $main-white;
  margin: 0px 8px;
  width: 50px;
}

.learning-table {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .daily-learning-td {
  }
}
