@import '../../App.scss';

.Header {
  
  .link {
    width: max-content;
    text-decoration: none;
    color: $main-grey;
    margin: 0px 15px;

    &.active {
      font-weight: bold;
      text-decoration: underline 2px;
      color: $main-black;
    }
  }
  
  .header-top-line {
    background-color: $main-grey;
    height: 6px;
  }

  .header-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: light;
    color: $main-black;
    font-size: 18px;
    padding: 20px 0px;
    border-bottom: 1px $main-grey solid;

    .column-one,
    .column-two,
    .column-three {
      display: flex;
      min-width: max-content;
    }

    .column-one {
      padding: 0px 0px 0px 30px;
      font-weight: bold;
      font-size: 32px;
      justify-content: left;

      .learn-word {
        color: $main-black;
      }

      .japanese-word {
        color: $main-blue;
      }
    }
    
    .column-two {
      text-align: center;
      justify-content: center;
      
      .navigation {
        display: flex;
        list-style-type: none;
        padding: 0;

        li:hover {
            text-decoration: underline $main-black;
            font-weight: bold;
        }
      }
    }
    
    .column-three {
      justify-content: right;
      padding: 0px 30px 0px 0px;
    }
  }

  // Media Queries für Responsive Design
  @media screen and (max-width: 480px) {

    .header-main {
      background-color: $header-background;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      padding: 20px 0px 10px 0px;
      
      .column-one {
        font-size: 28px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 0px 10px 0px;
      }

      .column-two {
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 100%;
      }

      .column-three {
        justify-content: left;
        padding: 0;
      }
      
      .navigation {
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 3px;
        }
      }
    }
  }
}
