@import '../../App.scss';

.Header {
  
  .link {
    width: max-content;
    text-decoration: none;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  
  .header-top-line {
    background-color: $main-grey;
    height: 6px;
  }

  .header-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: light;
    color: $main-black;
    font-size: 18px;
    padding: 20px 0px;
    border-bottom: 1px $main-grey solid;

    .column-one,
    .column-two,
    .column-three {
      display: flex;
      min-width: max-content;
    }

    .column-one {
      padding: 0px 0px 0px 30px;
      font-weight: bold;
      font-size: 32px;
      justify-content: left;

      .learn-word {
        color: $main-black;
      }

      .japanese-word {
        color: $main-blue;
      }
    }
    
    .column-two {
      text-align: center;
      justify-content: center;
      
      .navigation {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
          padding: 0px 15px;

          &:hover {
            text-decoration: underline $main-black;
            font-weight: bold;
          }
        }
      }
    }
    
    .column-three {
      justify-content: right;
      padding: 0px 30px 0px 0px;
    }
  }

  // Media Queries für Responsive Design
  @media screen and (max-width: 480px) {

    .header-main {
      background-color: $header-background;
      max-width: 100%;
      display: flex;
      flex-direction: column;

      .jc-center {
        padding: 0;
      }
      
      .column-one {
        font-size: 24px; /* Verkleinerung der Schriftgröße */
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
      }

      .column-three {
        justify-content: left;
        padding: 0;
      }
      
      .navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        li {
          padding: 10px 0; /* Anpassung des Abstands zwischen den Navigationselementen */
        }
      }
    }
  }
}
