@import '../../App.scss';

.Header {
  background-color: #272727;
  margin-bottom: 70px;
  
  .link {
    width: max-content;
    text-decoration: none;
    color: $main-grey;
    margin: 0px 15px;
    color: $main-white;
  
    &.active {
      font-weight: 500;
      text-decoration: underline 2px $main-blue;
      color: $main-yellow;
    }
}
  
  .header-design-line {
    background-color: $main-blue;
    height: 5px;
  }

  .header-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: light;
    align-items: center;
    color: $main-black;
    font-size: 18px;
    padding: 25px 0px;
    
    .column-one,
    .column-two,
    .column-three {
      display: flex;
      min-width: max-content;
    }
    
    .column-one {
      padding: 0px 0px 0px 30px;
      font-weight: bold;
      font-size: 32px;
      justify-content: left;
      
      .learn-word {
        color: $main-white;
      }
      
      .japanese-word {
        color: $main-blue;
      }
    }
    
    .column-two {
      display: flex;
      justify-content: center; 
    }
    
    .navigation {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li:hover {
        text-decoration: underline $main-blue;
      }
    }
    
    .column-three {
      justify-content: right;
      padding: 0px 30px 0px 0px;
    }
  }

  // Media Queries für Responsive Design
  @media screen and (max-width: 480px) {

    .header-main {
      background-color: #2b2b2b;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0px 10px 0px;
      
      .column-one {
        font-size: 28px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 0px 10px 0px;
      }

      .column-two {
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 100%;
      }

      .column-three {
        justify-content: left;
        padding: 0;
      }
      
      .navigation {
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 3px;
        }
      }
    }
  }
}
