@import "../../App.scss";

ol,
ul {
  padding: 0px !important;
}

.footer {
  background-color: $main-black;
  color: white;
  padding: 30px 0;
  text-align: center;

  .footer-content * {
    color: white;
  }

  .footer-content {
    display: flex;

    .footer-section {
      flex: 1;
      padding: 20px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input,
        textarea {
          width: 300px;
        }
      }

      h1,
      h2 {
        color: $main-blue;
      }

      .logo-text {
        font-size: 1.8em;
        font-weight: bold;
      }

      .contact {
        margin: 10px 0;

        span {
          display: block;
          margin: 5px 0;
        }
      }

      .socials a {
        font-size: 1.2em;
        margin: 0 10px;
        color: white;
        text-decoration: none;
      }

      .links ul {
        list-style-type: none;

        li {
          margin: 10px 0;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .contact-form {
        form {
          .text-input {
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
            width: 200px;
          }

          .btn-big {
            padding: 10px 20px;
            border: none;
            background-color: #3498db;
            color: white;
            border-radius: 5px;
            cursor: pointer;

            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #222;
    color: #bbb;
    padding: 10px 0;
    font-size: 0.9em;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    max-width: 500px;
  }

  .socials {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    padding: 10px;
  }

  .socials a {
    font-size: 1em;
    margin: 5px;
  }

  .footer-bottom {
    font-size: 0.8em;
  }
}
