@import '../../App.scss';

.Homepage {
  font-size: 18px;
  color: $main-black;

  h2 {
    font-size: 26px;
    animation: language-description-title-effect 2.8s ease-in-out;
  }
}


.line {
  border: 1px $lines solid;
  animation: movement 1s ease;
  margin: 25px 0px;
}

.language-descriptions {
  list-style-type: none;

  li {
    padding: 20px 0px;
  }

  .title {
    font-weight: bold;
    color: $main-blue;
  }
  
  button {
      width: 150px;
      padding: 5px 0px;
      font-size: 18px;
      background-color: $main-white;
      border-radius: 5px;
      color: $main-black;
      box-shadow: 0px 0px 3px black;
      transition: 0.2s;
      border: none;
    }
    .hiragana:hover {
      background-color: $main-blue;
      color: $main-white;
      font-weight: bold;
      transform: scale(1.08);
      cursor: pointer;
      box-shadow: 0px 0px 1px black;
    }
}

.hiragana-description {
  animation: hiragana-effect 1.2s ease-in-out;
  
  
}

.katakana-description {
  animation: katakana-effect 1.6s ease-in-out;
}

.kanji-description {
  animation: kanji-effect 2s ease-in-out;
}

.description-end {
  animation: description-end-effect 2.5s ease-in-out;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 100px;
}

.language-selecting-container {
  animation: selecting-container-effect 2.9s ease-in-out;

  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 60px 0px;

    .link {
      margin: 0px 40px;
    }

    
  }
}

@keyframes language-description-title-effect {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes movement {
  /* 0% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(10%);
    }

    90% {
        transform: translateX(-4%);
    }

    95% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    } */
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hiragana-effect {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes katakana-effect {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kanji-effect {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes description-end-effect {
  0% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes selecting-container-effect {
    0% {
      opacity: 0;
    }
  
    95% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  

// Media Queries

@media screen and (max-width: 768px) {
  .Homepage {
    font-size: 18px;

    h2 {
      font-size: 22px;
      padding-top: 20px;
    }

    .line {
      margin: 20px 0px;
    }
  }

  .language-descriptions {
    li {
      padding: 10px 0px 10px 0px;
    }
  }

  .description-end {
    font-size: 20px;
  }

  .buttons-container {
    flex-wrap: wrap;

    .link {
      margin: 8px 0px;
      padding: 5px;
      font-size: 20px;
    }
  }
}